#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-background-style: cover;
  -moz-background-style: cover;
  -o-background-size: cover;
  background-style: cover;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.title {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.subtitle {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.github {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.youtube {
  position: fixed;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}
.steam {
  position: fixed;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}