/* Video CSS */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-background-style: cover;
  -moz-background-style: cover;
  -o-background-size: cover;
  background-style: cover;
}
/* Top page title CSS */
.title {
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Text above background CSS */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Center text CSS */
div.a {
	text-align: center;
}
/* Disable visited website link CSS */
a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}